n8n/MVP copy-2.json
{
  "name": "MVP copy",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "0t36vVhccIEaLAYr",
          "mode": "list",
          "cachedResultName": "Pedidos",
          "cachedResultUrl": "/projects/jBEOe5DECmoA4IC9/datatables/0t36vVhccIEaLAYr"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "Telefono",
              "keyValue": "={{ $json.telcliente }}"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -48,
        128
      ],
      "id": "a1bde196-8c3e-489a-be90-ee4761ef2664",
      "name": "Get row(s)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e12ee00-7f75-469a-86f8-1d7818bfddaa",
              "name": "telcliente",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "fcdde979-b304-4d52-ab7f-47356b0c9a47",
              "name": "mensajecliente",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        128
      ],
      "id": "bbcb1a97-57dd-40df-ab06-ec96245e27e9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        432,
        144
      ],
      "id": "38cf987b-8945-479b-a1e9-9e77aa12f708",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "78e5c5b7-3d57-4804-9595-10d05e37ac9f",
              "leftValue": "={{ $json.Telefono }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        128
      ],
      "id": "e580747c-c439-488f-8495-5f4a898f27bc",
      "name": "If1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "0t36vVhccIEaLAYr",
          "mode": "list",
          "cachedResultName": "Pedidos",
          "cachedResultUrl": "/projects/jBEOe5DECmoA4IC9/datatables/0t36vVhccIEaLAYr"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Hora": "2026-01-31T22:38:27",
            "Telefono": "={{ $('Edit Fields1').item.json.telcliente }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fase",
              "displayName": "Fase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Direccion",
              "displayName": "Direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Pedido",
              "displayName": "Pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TotalPedido",
              "displayName": "TotalPedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Despacho",
              "displayName": "Despacho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Comprobante",
              "displayName": "Comprobante",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        384,
        -48
      ],
      "id": "98675369-cc61-4f30-8413-8b2b6559be5c",
      "name": "Insertar nuevo numero"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}\nFase del pedido - {{ $json.Fase }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Eres el \"Cerebro Lógico\" de la hamburguesería . Tu función NO es hablar directamente con el cliente, sino procesar la información, ejecutar las herramientas necesarias y generar un JSON técnico para que un segundo modelo redacte la respuesta final. \n\nREGLAS DE PROCESAMIENTO:\n1. Analiza el mensaje del cliente y compáralo con los mensajes en memoria del cliente.\n2. Identifica qué información falta (campos con \"-\").\n3. Ejecuta la herramienta (Tool) correspondiente para llevar el flujo por alguno de los caminos disponibles.\n4. Si el usuario proporcionó varios datos a la vez, invoca las herramientas de forma secuencial.\n\nFUNCIONAMIENTO DE LAS HERRAMIENTAS:\n- 'Apertura': Intención clara de comprar un producto, úsalo para crear pedidos, siempre que sea posible.\n- 'Preguntas': Saludos, Consultas de menú, la carta, horarios o info general.\n-'Derivar Humano': Para quejas, enojo o solicitud de hablar con una persona. Si no encontraste la pregunta frecuente vuelve y usa esta tool.\n\nFORMATO DE SALIDA (Output Parser):\nDebes responder SIEMPRE siguiendo este esquema técnico estrictamente para que la siguiente cadena de LLM pueda leerlo:\n\n{\n  \"herramienta_ejecutada\": \"[Nombre de la herramienta usada o 'Ninguna']\",\n  \"info_herramienta\": \"[Toda la información de devolvio la herramienta que ejecutaste]\",\n  \"instruccion_para_redactor\": \"[Breve nota técnica sobre qué debe pedirle o confirmarle el siguiente LLM al cliente]\"\n}\n\nINSTRUCCIÓN CRÍTICA:\nNo añadas texto antes ni después del JSON. Tu salida debe ser exclusivamente el objeto JSON para que el sistema no falle. \n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1424,
        -384
      ],
      "id": "5cd2c15b-4796-4ada-b680-2817f99b9d1c",
      "name": "AI Agent1",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1280,
        64
      ],
      "id": "9039d7ca-5e30-48f1-a2fc-cf26b0cd4b19",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NUyS17bUPZYFH4kW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "80cCr0RM8lIKtSkW",
          "mode": "list",
          "cachedResultUrl": "/workflow/80cCr0RM8lIKtSkW",
          "cachedResultName": "Derivar Humano"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1568,
        64
      ],
      "id": "2fdf432c-e72a-4446-885d-69db29ed6bad",
      "name": "Derivar Humano"
    },
    {
      "parameters": {
        "description": "=",
        "workflowId": {
          "__rl": true,
          "value": "NnctUcgKarleWJlJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/NnctUcgKarleWJlJ",
          "cachedResultName": "Apertura"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "telcliente": "={{ $('Edit Fields1').item.json.telcliente }}",
            "mensajecliente": "={{ $('Edit Fields1').item.json.mensajecliente }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mensajecliente",
              "displayName": "mensajecliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "telcliente",
              "displayName": "telcliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1680,
        64
      ],
      "id": "c0668c3a-8f95-4bb1-a02c-25e0f6995633",
      "name": "Apertura"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"herramienta_ejecutada\": {\n      \"type\": \"string\",\n      \"description\": \"El nombre exacto de la herramienta que se utilizó.\",\n      \"enum\": [\n        \"tool_preguntas_frecuentes\",\n        \"tool_gestion_pedido\",\n        \"tool_derivar_humano\",\n        \"Ninguna\"\n      ]\n    },\n    \"info_herramienta\": {\n      \"type\": \"string\",\n      \"description\": \"El contenido TEXTUAL COMPLETO que devolvió la herramienta ejecutada. Si no se usó herramienta, dejar vacío.\"\n    },\n    \"instruccion_para_redactor\": {\n      \"type\": \"string\",\n      \"description\": \"Instrucción técnica para la siguiente IA sobre cómo usar la info_herramienta para responder al cliente.\"\n    },\n    \"razonamiento\": {\n      \"type\": \"string\",\n      \"description\": \"Breve explicación de por qué se tomó esta decisión.\"\n    }\n  },\n  \"required\": [\n    \"herramienta_ejecutada\",\n    \"info_herramienta\",\n    \"instruccion_para_redactor\"\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1744,
        -128
      ],
      "id": "e1927b1c-c1e6-4d15-aecb-69c9e10dc35d",
      "name": "Structured Output Parser",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CONTEXTO DE LA CONVERSACIÓN:\n- Mensaje del Cliente: \"{{ $('Edit Fields1').item.json.mensajecliente }}\"\n\nINPUT DEL AGENTE DE CONTROL:\n- Herramienta Ejecutada: \"{{ $json.output.herramienta_ejecutada }}\"\n- Instrucción de Gestión: \"{{ $json.output.instruccion_para_redactor }}\"\n\nDATOS TÉCNICOS (Info cruda de base de datos/pedidos):\n\"\"\"\n{{ $json.output.info_herramienta }}\n\"\"\"\n\nTarea: Redacta la respuesta final para WhatsApp basándote EXCLUSIVAMENTE en los \"Datos Técnicos\" y obedeciendo la \"Instrucción de Gestión\", se breve, no hagas mensajes extendidos.",
        "messages": {
          "messageValues": [
            {
              "message": "# ROL Eres el especialista en Atención al Cliente de una hamburguesería en WhatsApp. Tu trabajo NO es decidir qué hacer (eso ya lo hizo el Agente anterior). Tu trabajo es **REDACCIÓN Y FORMATO**.  Debes tomar la información cruda (técnica) y transformarla en una respuesta cálida, ordenada y vendedora.  # TUS INSTRUCCIONES Recibes 4 inputs clave: 1. **Mensaje del Cliente**: Para entender el contexto. 2. **Herramienta Ejecutada**: Para saber si es una Venta o una duda de Info. 3. **Datos Técnicos**: La información BRUTA extraída de la base de datos (Menú, Precios, FAQs o Confirmación de Pedido). 4. **Instrucción de Gestión**: La orden directa de tu jefe sobre qué decirle al cliente.  # REGLAS DE REDACCIÓN (IMPORTANTE)  ## SI LA HERRAMIENTA FUE \"tool_preguntas_frecuentes\" (Menú/Info) - La \"Info Técnica\" vendrá desordenada. TU DEBES DARLE FORMATO. - Si es el **MENÚ**: No pongas una lista aburrida. Usa negritas y emojis.   - *Ejemplo:* \"🍔 **Clásica Smash** ($8.500): Doble carne, cheddar...\" - Si son **HORARIOS/DIRECCIÓN**: Sé directo y servicial. - Cierra SIEMPRE invitando a pedir: \"¿Te tienta alguna? 😉\"  ## SI LA HERRAMIENTA FUE \"tool_gestion_pedido\" (Confirmación) - La \"Info Técnica\" dirá algo como \"Pedido Guardado ID #123\". - Confirma los items al usuario claramente. - **PASO OBLIGATORIO**: Si la \"Instrucción de Gestión\" pide cobrar, pregunta: \"¿Prefieres abonar con efectivo 💵 o transferencia 📲?\" y \"¿Es para delivery 🛵 o retiras?\".  ## SI LA HERRAMIENTA FUE \"tool_derivar_humano\" - Pide disculpas si corresponde y avisa que alguien real escribirá pronto.  # TONO DE VOZ - Amable, ágil y con emojis (sin abusar). - **PROHIBIDO**: Inventar precios o productos que no estén en los \"Datos Técnicos\". - **PROHIBIDO**: Saludar como un robot (\"Hola estimado cliente\"). Sé natural."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2288,
        -128
      ],
      "id": "1ce28c16-7700-4c5b-a50a-467d8ad21065",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1888,
        32
      ],
      "id": "0e24d54b-6f30-4da2-b678-36b0595fbdfb",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "NUyS17bUPZYFH4kW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2320,
        160
      ],
      "id": "bcf75a9e-683c-4f0c-ad92-0804fb2444d5",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "NUyS17bUPZYFH4kW",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d3ff6b03-83dc-42fe-baa6-f76335526033",
              "name": "Fase",
              "value": "=Este cliente no tiene un pedido en curso aun.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        -416
      ],
      "id": "8ceb07d9-7958-48b4-afea-b91bb1795b4e",
      "name": "Poner contexto"
    },
    {
      "parameters": {
        "description": "Se utiliza para responder a preguntas frecuentes, saludos, preguntas por el menu, horarios, etc.",
        "workflowId": {
          "__rl": true,
          "value": "raLee5YZrcNX51mQ",
          "mode": "list",
          "cachedResultUrl": "/workflow/raLee5YZrcNX51mQ",
          "cachedResultName": "Preguntas"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1456,
        64
      ],
      "id": "f86d9f09-e69d-4998-ace9-790522b261f6",
      "name": "Preguntas"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -496,
        112
      ],
      "id": "9617ce51-c3a2-443c-9204-0b0c6d23e392",
      "name": "Telegram Trigger",
      "webhookId": "b09c38b5-6a6a-4b89-868d-a300a07dce55",
      "credentials": {
        "telegramApi": {
          "id": "KDKk8LltaEzeIhNA",
          "name": "superresto"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields1').item.json.telcliente }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2848,
        -128
      ],
      "id": "2cdce0c2-bbe4-4dad-b842-f6dc0e962980",
      "name": "Send a text message",
      "webhookId": "31d2f763-3582-41f5-b2e1-493ce1c1b5b5",
      "credentials": {
        "telegramApi": {
          "id": "KDKk8LltaEzeIhNA",
          "name": "superresto"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Edit Fields1').item.json.telcliente }}",
        "tableName": "n8n_chat_historiesaperture",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1168,
        0
      ],
      "id": "66a1556c-975f-4791-b784-a35cf1eba16d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "A7nCuN3Drkjjh6lz",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Insertar nuevo numero",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar nuevo numero": {
      "main": [
        [
          {
            "node": "Poner contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Derivar Humano": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Apertura": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poner contexto": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preguntas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cec5a207-ca8b-43aa-b0a7-4aa1581ef39c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aaef63ee18d8b544de41874fa5f8030b777ca2d278dafea4eecd2da4b7649f51"
  },
  "id": "YSvZD2KaoLZcEs5D",
  "tags": []
}